body {
  font-family: "Lato", sans-serif;
  width: 100vw;
  overflow: overlay;
}

.full-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-nav {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: rgb(31, 138, 115);
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

#main-text {
  display: none;
}

.nav-logo {
  font-size: 2.5rem;
}
.nav-logo:hover {
  color: rgb(230, 230, 230);
}

.main-nav a {
  display: flex;
  color: rgb(233, 233, 233);
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
}
.main-nav a:hover {
  color: rgb(180, 180, 180);
}

.main-nav ul {
  list-style-type: none;
}

section.description h1 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
}
section.description p {
  font-weight: 400;
  font-size: 2rem;
}
section.description {
  flex-grow: 1;
  overflow: hidden;
  background-color: rgb(233, 233, 233);
  color: rgb(31, 138, 115);
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.height-100 {
  height: 100%;
}
section.description em {
  margin-right: 1rem;
}

.articles {
  background-color: rgb(31, 138, 115);
  color: rgb(233, 233, 233);
  display: flex;
  padding-top: 5rem;
  flex-direction: column;
  font-weight: 300;
  font-size: 2rem;
  flex-grow: 1;
}

.articles p {
  width: 55%;
  border: solid 2px rgb(233, 233, 233);
  border-radius: 4rem;
  padding: 5%;
  text-align: center;
  line-height: 2.5rem;
}

.sign-image {
  left: -3rem;
  max-width: 120% !important;
}
.articles article {
  margin-top: 3rem;
  padding-bottom: 3rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px rgba(220, 220, 220, 0.2);
  min-width: 1000px;
}

.img-container {
  width: 20rem;
  height: 20rem;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
  border-radius: 50%;
  border: solid 3px rgb(233, 233, 233);
}
.img-container img {
  max-width: 100%;
  position: relative;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1px;
}

.primary {
  color: rgb(31, 138, 115);
  background-color: rgb(233, 233, 233);
}
.secondary {
  color: rgb(233, 233, 233);
  background-color: rgb(31, 138, 115);
}
.contact_old {
  border: solid 2px rgb(31, 138, 115);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 3rem;
}

.contacts-main {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.contact p {
  font-size: 1.5rem;
}
.contact-information {
  color: black;
}
.contact-information em {
  text-align: left;
  color: rgb(31, 138, 115);
  font-weight: 700;
  font-style: normal;
}
.stefan {
  position: relative;
  max-width: 100% !important;
  top: -3rem;
}
.contact .img-container {
  border: solid 0.7rem rgb(31, 138, 115);
  background-color: rgb(31, 138, 115);
}
.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}
.flex-center {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
